@import url(./normalize.css);
@import url(./vars.css);
@import url(../assets/fonts/Montserrat-VariableFont_wght.ttf);

html,
body {
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: var(--main-font-size);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--main-color);
    overflow-x: hidden;
}


.content {
    box-sizing: border-box;
    display: flex;
    width: 1440px;
    align-items: center;
}

.content.header {
    justify-content: space-between;
    gap: 198px;
    padding: 17px 120px;
}

.navigation-list {
    list-style: none;
    display: flex;
    padding: 0;
    gap: 20px;
    justify-content: center;
}

.navigation-link {
    text-decoration: none;
    line-height: 1.75;
    color: inherit;
}

.navigation-link:hover {
    color: #FF9900;
}

.bttn {
    width: 110px;
    padding: 13px 22px;
    font-weight: 600;
    border: none;
    border-radius: 4px;
    background-color: var(--btns-bckgrnd-color);
    line-height: 1.25;
    cursor: pointer;
    transition: all 300ms ease-in-out;
    color: #FFFF;
    border: 1px solid transparent;
}

.bttn.sign-in {
    background-color: transparent;
    border: 1px solid #BCD0E5;
    color: inherit;
}

.bttn:hover {
    border: 1px solid black;
    opacity: 0.5;
}

.content.main {
    flex-direction: column;
    margin-top: 70px;
    padding: 0 120px;
}

.first-screen {
    display: flex;
    justify-content: center;
    align-items: center;

}

.content section {
    margin-bottom: 100px;
}

.incentive {
    width: 500px;
}

.slogan {
    margin: 0;
    font-size: 2.8rem;
    line-height: 1.22;
    margin-bottom: 30px;
}

.first-screen p {
    color: var(--secondary-color);
    line-height: 1.55;
    font-size: 18px;
    margin-bottom: 20px;
}

.bttn.get-started {
    width: 180px;
}

section.features {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 99vw;
    padding-bottom: 75px;
    background-image: url(../assets/img/bg.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
}

.features-header {
    line-height: 1.2;
    font-size: 2.2rem;
    margin-top: 0;
    margin-bottom: 30px;
}

.list-of-cards {
    margin: 0 0 70px 0;
    list-style: none;
    display: flex;
    gap: 40px;
    padding: 20px 0 0 0;
}

.card {
    width: 270px;
    text-align: start;
}

.card img {
    margin-bottom: 30px;
}

.card h4 {
    margin: 0 0 16px 0;
    line-height: 1.2;
    font-size: 22px
}

.card p {
    margin: 0;
    color: var(--secondary-color);
}

.bttn.large {
    width: 180px;
}

.info-block {
    display: flex;
    align-items: center;
}

.benefits .side-text {
    width: 525px;
    margin-right: 113px;
}

.side-text p {
    color: var(--secondary-color);
    line-height: 1.62;
    margin: 0;
    font-weight: 500;
}

.side-text h2,
h4 {
    font-weight: 700;
    margin: 0;
}

.side-text ul {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 1.62;
    font-weight: 500;
}

.benefit h4 {
    margin-bottom: 10px;
    line-height: 1.62;
}

.title {
    margin-bottom: 40px;
}

.title h2 {
    font-size: 2.2rem;
    margin-bottom: 20px;
    line-height: 1.2;
}

.benefit {
    margin-bottom: 30px;
}

.product-managers img {
    order: -1;
}

.product-managers .side-text {
    width: 505;
    margin-left: 125px;
    margin-right: 0;
}

.manager-list {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.manager-list img {
    width: 35px;
    height: 36px;
    margin-right: 30px;
}

.manager-list li {
    width: 500px;
    display: flex;
    align-items: center;
}

.marketers .side-text {
    width: 486px;
    margin-right: 174px;
}

.marketers li:not(:last-of-type) {
    margin-bottom: 30px;
}

.marketers-list h4 {
    margin-bottom: 12px;
}

hr {
    background-color: #BCD0E57F;
    width: 100%;
    margin-bottom: 70px;
}

/* footer + change to flex:1 */

.content.footer {
    align-items: flex-start;
    justify-content: space-between;
    gap: 120px;
    padding: 0 120px 70px 120px;
}

.footer .logo-container {
    width: 200px;
}

.footer h3 {
    margin: 0;
    font-size: 1.25rem;
    line-height: 1.5;
}

.footer-nav h3 {
    margin-bottom: 30px;
}

.footer-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-nav li:not(:last-of-type) {
    margin-bottom: 15px;
}

.footer-nav a {
    font-weight: 500;
    line-height: 1.62;
    cursor: pointer;
    text-decoration: none;
    color: var(--secondary-color);
}

.footer-nav a:hover {
    color: #FF9900;
}

.quick-sign-up {
    max-width: 340px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.quick-sign-up h3 {
    width: 280px;
}

.quick-sign-up input {
    flex: 1;
    padding: 15px 0 15px 10px;
    border: 1px solid #BCD0E5;
}

.quick-sign-up input::placeholder {
    color: #BCD0E5;
    font-weight: 400;
    line-height: 1.25;
}